@import "../../../../../styles/variables.scss";

.chat-message {
    padding: 1.5em;
    background-color: #ecffe6;
    margin: 10px;

    img {
        margin-right: 1em ;
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    .name {
        text-decoration: underline;
        font-weight: 600;
    }
    .timestamp{
        margin-bottom: 1.5em;
        color: darken($light-grey, 15%);
    }

    .message {
        font-size: 1.2em;
    }
}