@import "../../../../../styles/variables.scss";

.new-message-wrapper {

    .input-group {
        align-self: flex-end;

        .form-control {
            border-radius: 8px;
            border: 0;
            background-color: $light-grey;
            margin-bottom: 5px;
            margin-right: 5px;

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }
}
