@import 'styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
    color: $secondary
}

button { 
    width: 100%;

    &.btn {
        border-radius: 0;
        &.focus {
            box-shadow: none;
        }
    }
}

.container-wrapper {
    height: calc(100vh - 80px) !important;
}
.navbar {
    height: 80px;
}
